@charset "utf-8";
.section{
    width : 80%;
    margin : 0 auto;
}
.title{
    display : block;
}
.input{
    margin : 0 auto;
    width :80%;
    height : 25px;
}
.submit{
    margin : 0 auto;
    width : 80%;
    height : 30px;
    margin-top : 10px;
}

.sign-up{
    margin-top : 10px;
    font-size : 14px;
}